@mixin display_flex($flex_direction, $justify_content, $align_items) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify_content;
  align-items: $align_items;
}

.trilha {
  @include display_flex(column, flex-start, center);
  gap: 1vh;
  padding: 1.3vh;
  width: 25vh;
  height: 25vh;
  text-align: center;
  font-size: 2.4vh;

  img {
    width: 15vh;
  }
}
